.element__name {
  margin: 25px auto 21px;
    color: black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
}
