.popup__close_edit {
    width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-position: 50% 50%;
  position: absolute;
  top: -40px;
  right: -40px;
  
}

.popup__close_edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close_edit {
    top: -50px;
		right: -10px;
    background-color: black;
    background-size: 40px 40px;
  }
}