.footer__copyright {
    margin: 0;
    max-width: 318px;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 880px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}