.popup__close {
    position: absolute;
    top: -35px;
    right: -40px;
    background-image: url(../../../image/Close_Icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: opacity linear 1s;
}

.popup__close:hover {
    opacity: 0.6;
    transition: opacity linear 0.5s;
}

@media screen and (max-width: 767px) {
    .popup__close {
        top: -40px;
        right: -5px;
        background-size: contain;
    }
  }