.profile__intro {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: 
        "title button"
        "subtitle .";
    column-gap: 18px;
    row-gap: 16px;
    align-items: center;
    padding-left: 30px;
}

@media screen and (max-width: 767px) {
    .profile__intro {
        padding: 26px 0 27px;
        column-gap: 10px;
        row-gap: 14px;
    }
}