.profile__photo {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/avatar.jpg);
}

@media screen and (max-width: 1279px) {
  .profile__photo {
    margin: 0;
  }
}
