@import url('_type/_name/popup__field_type_name.css');
@import url('_type/_description/popup__field_type_description.css');

.popup__field {
    display: block;
    margin-top: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #bcbcc4;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
  
}

.popup__field:focus {
  outline-color: #bcbcc4;
}